@model IEnumerable<movieentity1.Theatre>
<div>
    <hr />
    <a asp-controller="Theatre" asp-action="TheatreEntry">
        Theatre entry
    </a><hr />
</div>
<div class=" row">
    <div class="col-12">
        <h3>theatre</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>theatre id</th>
                    <th>Name</th>
                    <th>theatre address</th>
                    <th>review</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Id</td>
                        <td>@movie.Name</td>
                        <td>@movie.Address</td>
                        <td>@movie.Comments</td>
                        <td>
                            <a asp-controller="Theatre" asp-action="EditTheatre"
                           asp-route-Id="@movie.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="Theatre" asp-action="DeleteTheatre"
                           asp-route-Id="@movie.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>